.widget {
    height: 60px;
    width: auto;
    margin-left: auto;
    padding: 20px 0;
}

.feelslike {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.widget_container {
    display: flex;
}

.status {
    height: 40px;
}

@media (max-width: 520px) {
    .widget {
        height: 80px;
        width: auto;
        margin-left: auto;
        padding: 30px 0 0 0;
    }
    .status {
        height: 40px;
    }
    .feelslike {
        font-size: 15px;
        padding-right: 10px;
        padding-top: 10px;
    }
}