.widget {
    height: 80px;
    width: auto;
    margin-left: auto;
    padding: 20px;
    /* background-color: aqua; */
}

.feelslike {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.widget_container {
    display: flex;
}

.status {
    height: 50px;
}

.sunny {

}

.cloudy {

}

.rainy {

}

@media (max-width: 520px) {
    .widget {
        height: 80px;
        width: auto;
        margin-left: auto;
        padding: 30px 40px 0 40px;
    }
    .status {
        height: 40px;
    }
    .feelslike {
        font-size: 15px;
        padding-right: 10px;
        padding-top: 10px;
    }
}