
.search_container{
    width: 80%;
    height: 600px;
    background-image: url('./../../media/1933973.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.search_widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.get_adventure {
    margin-top: 15em;
    font-size: 30px;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 40px;
}